/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap';

.link {
    color: blue;
    cursor: pointer;
}

.link:hover {
    color: darkblue;
    text-decoration: underline;
}

app-request-review-panel {
    width: 100%;
}

@media only screen and (max-width: 735px) {
    .mobile-hide {
      display: none;
    }
    .mobile-show{
        display: table-cell;
    }
  }