
.vs/slnx.sqlite
.vs/tasks.vs.json
.vs/VSWorkspaceState.json
.vs/Wikibot/DesignTimeBuild/.dtbcache.v2
.vs/Wikibot/config/applicationhost.config
.vs/Wikibot/v16/.suo
.vs/Wikibot/v16/TestStore/0/001.testlog
.vs/Wikibot/v16/TestStore/0/testlog.manifest
.vscode/launch.json
.vscode/tasks.json
Wikibot.App/bin/
Wikibot.App/obj/
Wikibot.Tests/bin/
Wikibot.Tests/obj/
Wikibot.Data/bin/
Wikibot.Data/obj/
Wikibot.DataAccess/bin/
Wikibot.DataAccess/obj/
Wikibot.Jobs/bin/
Wikibot.Jobs/obj/
wikibot-ui/src/assets/20106/
